---
import { getCollection } from "astro:content"
import { sortPostsByDate } from "../lib/date"
import Link from "../components/Link.vue"
import Base from "../layouts/Base.astro"
import Project from "../components/Project.astro"
import PostRow from "../components/PostRow.astro"
import { getProjects } from "../lib/projects"

// const projects = await getProjects(6)
const projects = await getProjects()
const posts = sortPostsByDate(
  await getCollection("blog", ({ data }) => data.isDraft !== true),
).slice(0, 4)

const title = "piklr • home";
---

<Base
  {title}
  description="Personal website and blog of Trinh V. Nguyen aka piklr."
  image="https://og.nxl.sh/home"
>
  <h1 slot="header-content" class="text-neutral-500">
    piklr
  </h1>

  <main class="prose">
    <p>
      <small class="text-neutral-500"
        >piklr — pickle, but cooler</small
      >
      <br />

      Hi there, I'm <strong>Trinh V. Nguyen</strong>. I'm at my final year as 
      a CS undergrad student, and currently working at a company that provides communication and streaming services based in Hanoi, Vietnam.
    </p>

    <h2>Academic Achievements</h2>
    <p>
      • Academic Achievement Scholarship, Fall 2023, Summer 2024
      <br/>
      • Research Internship Scholarship in Taiwan, Summer 2024
      <br/>
      • ERASMUS+ Exchange Scholarship in Germany, Summer 2022
      <br/>
      • University Principal's Commendation Certicate for Outstanding Academic Achievement and Active Participation in Volunteer Activities 2021
      <br/>
      • CGPA: 3.29/4.0
    </p>

    <h2>Interests</h2>
    <p>
      I have a strong background in <strong>network programming</strong> and technologies related to media streaming protocols: <strong>HLS, WebRTC, RTSP/RTP</strong>, media codecs: <strong>G711, Opus, AAC</strong>, and media container formats: <strong>MPEGTS, MP3</strong>.
    </p>
  
    <p>
      In my free times, I enjoy exploring other aspects of computer science that I might not be too familiar with. Recently, <strong>High Performance Computing (HPC)</strong> and <strong>Machine Learning compilers</strong> are the two topics that I am interested in.
    </p>

   <p>
      Programming languages: <strong>C/C++/CUDA, Go, Python</strong>, and sometimes, <strong>Javascript</strong>.
      <br/>
      Other technologies/tools: <strong>vim, tmux, docker, mongodb, sql.</strong>
    </p>

    <div class="mt-12"></div>
    <h2>Projects</h2>

    <div class="grid grid-cols-2 gap-4 md:grid-cols-3">
      {projects.map(project => <Project {project} />)}
    </div>

    <div class="mt-12"></div>
    <h2>Blogs</h2>

    <div class="flex flex-col gap-4">
      <!-- {posts.map(post => <PostRow {post} />)} -->
      <!---->
      <!-- <span> -->
      <!--   <Link href="/blog">All posts →</Link> -->
      <!-- </span> -->
      Coming soon..
    </div>
  </main>
</Base>

